/* write your override styles here */
#wall .tag-1 {
  border: 10px solid red;
  background-image: none;
}

body #wall #tag-2{
  background-image: none;
}

body div#wall #tag-3.slick {
  background: none;
}

body #wall #tag-4 {
  background: none;
}

body div#wall .parent #tag-5.slick {
  background: none;
}

body div#wall div.parent div:last-child div#tag-6 {
  background: none;
}